<div id="main-container" class="container">

	<%= render 'header' %>
	<br>
	<%= form_for :ingredient, html: {class: "form-inline"}, :url => {:controller => "ingredients", :action => "create"} do |f| %>
		
		  <h3>
	  <%= f.label "Add a safe ingredient", class: "label label-default" %>
	  <%= f.text_field :name, class: "form-control" %>
	  <%= f.hidden_field :confirmed, value: true%>

	  <%= f.submit 'Submit', :class => 'btn btn-primary' %>
		  </h3>
	<% end %>
	<br>
	<ul class="list-group">
	<% @ingreds.each do |i| %>
		<li class="list-group-item glyphicon glyphicon-ok"> <%= i.name %></li>
	<% end %>
	</ul>
</div>
